{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <!-- 사용자오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <h2 class="border-bottom py-2">{{ data.Title }}</h2>



    <div class="row my-3">
        <div class="col-11"> <!-- 질문영역 -->
            <div class="card">
                <div class="card-body"><br>
                    <div class="card-text"><h5><b>데이터 정보</b></h5></div>
                    <table class="table">
                      <tbody>
                        <tr>
                            <th scope="row">공개일자</th>
                            <td>{{ data.OpenDate }}</td>
                            <th scope="row">최신수정일자</th>
                            <td>{{ data.ModDate }}</td>
                        </tr>
                        <tr>
                            <th scope="row">갱신주기</th>
                            <td>{{ data.Update }}</td>
                            <th scope="row">분류</th>
                            <td>{{ data.Category }}</td>
                        </tr>
                        <tr>
                            <th scope="row">제공기관</th>
                            <td>{{ data.Agency }}</td>
                            <th scope="row">제공부서</th>
                            <td>{{ data.Department }}</td>
                        </tr>
                        <tr>
                            <th scope="row">담당자</th>
                            <td>{{ data.Charge }}</td>
                            <th scope="row">저작권자</th>
                            <td>{{ data.Copyright }}</td>
                        </tr>
                        <tr>
                            <th scope="row">원본시스템</th>
                            <td>{{ data.OriginalSys }}</td>
                            <th scope="row">관련태그</th>
                            <td>{{ data.Tags }}</td>
                        </tr>
                      </tbody>
                    </table><br>

                    <div class="card-text"><h5><b>데이터 설명</b></h5>{{ data.Explain }}</div><br><br>
                    <div class="card-text"><h5><b>바로가기 링크</b></h5><a href={{data.DataUrl}}>{{ data.DataUrl }}</a></div><br><br>
                    <div class="card-text"><h5><b>Open API</b></h5><a href={{data.URL}}>{{ data.APIUrl }}</a></div><br>

                    <div class="d-flex justify-content-end">
                        {% if question.modify_date %}
                        <div class="badge badge-light p-2 text-left mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ question.modify_date }}</div>
                        </div>
                        {% endif %}
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2">{{ question.author.username }}</div>
                            <div>{{ question.create_date }}</div>
                        </div>
                    </div>
                    {% if request.user == question.author %}
                    <div class="my-3">
                        <a href="{% url 'pybo:question_modify' question.id  %}"
                           class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                            data-uri="{% url 'pybo:question_delete' question.id  %}">삭제</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });

    $(".recommend").on('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}