{% extends 'base.html' %}
{% load static %}
{% load pybo_filter %}
{% block content %}

<div>
    <div class="row justify-content-between my-3">
        <div class="col-2">
            <select class="form-control so">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
                <option value="category" {% if so == 'category' %}selected{% endif %}>카테고리순</option>
            </select>
        </div>
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}" onkeyup="enterkey()">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btn_search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    {% if data_list %}
    <div class="row justify-content-between my-3">
        <div class="col-5">
            {% if reword != '' %}
                {% if reword == 'category' %}
                <h6><b>카테고리: {{cate}}</b></h6>
                {% else %}
                <h6><b>{{reword}}</b>로 검색한 결과입니다.</h6>
                {% endif %}
            {% endif %}
        </div>
        <div>
            <h6>전체 {{length}}건</h6>
        </div>
    </div>

    {% for data in data_list %}

    <p>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b><a href="{% url 'pybo:list_detail' data.id %}" style="color: black">{{ data.Title }}</a></b></h5><br>
        <h6 class="card-subtitle mb-2 text-muted">{{ data.Category }}</h6>
        <p class="card-text">수정일자: {{ data.ModDate }}&emsp;&emsp;제공기관: {{ data.Copyright }}&emsp;&emsp;제공부서: {{ data.Department }}</p>

      </div>
    </div>
    </p>

    {% endfor %}
    {% else %}
    <p>
    <div class="card">
      <div class="card-body">
        <br><center><h5 class="card-title"><b>검색결과가 없습니다.</b></h5></center><br>
      </div>
    </div>
    </p>

    {% endif %}

        <!--  페이징처리 시작  -->
        <ul class="pagination justify-content-center">
            <!--  이전페이지  -->
            {% if data_list.has_previous %}
            <li class="page-item">
                <a class="page-link" data-page="{{ data_list.previous_page_number }}" href="#">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!--  페이지리스트  -->
            {% for page_number in data_list.paginator.page_range %}
            {% if page_number >= data_list.number|add:-5 and page_number <= data_list.number|add:5 %}
                {% if page_number == data_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!--  다음페이지  -->
            {% if data_list.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ data_list.next_page_number }}" href="#">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!--  페이징처리 끝  -->
</div>

<form id="searchForm" method="get" action="{% url 'pybo:list' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>

{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});

function enterkey() {
	if (window.event.keyCode == 13) {
    	$("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    }
}
</script>
{% endblock %}